<form action='/<%= params[:filename] %>' method='post' id="new_content">
  <label for="edit">Edit content of <%= params[:filename] %></label>
  <div>
    <textarea name="edit" form='new_content' rows="20" cols="100"><%= @file_content %></textarea>
  </div>
  <button class="submit">Save Changes</button>
</form>
