<html>
  <head>
    <title>CMS</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>
  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
