main {
  padding: 1em;
  font-family: sans-serif;
}

.flash {
  max-width: 960px;
  padding: 10px;
  margin: 20px auto 1.5em auto;
}

.flash.success {
  background: #FFFF99;
}

.flash.error {
  background: #E2797E;
}

form.inline {
  display: inline;
}

.user-status {
  font-style: italic;
  font-size: 0.9em;
}
